<!-- html index-->
{% extends 'base_generic.html' %}

{% block content %}
    <h1>Bienvenido </h1>
   
    <h2>Utiliza los siguientes endpoints para interactuar con la API:</h2>
    <ul>
        <li><a href="/api/usuarios/">/api/usuarios/</a> - Listar y crear usuarios</li>
        <li><a href="/api/salas/">/api/salas/</a> - Listar y crear salas</li>
        <li><a href="/api/salas/ciudad/">/api/salas/ciudad/</a> - Buscar salas por ciudad</li>
        <li><a href="/api/grupos/">/api/grupos/</a> - Listar y crear grupos</li>
        <li><a href="/api/reservas/">/api/reservas/</a> - Listar y crear reservas</li>
        <li><a href="/api/disponibilidad-salas/">/api/disponibilidad-salas/</a> - Listar y crear disponibilidad de salas</li>
        
    </ul>
    <h2>Enlaces a la aplion web:</h2>
    <ul>
        <li><a href="{% url 'listado_salas' %}">Listado de Salas</a></li>
        <li><a href="{% url 'listado_grupos' %}">Listado de Grupos</a></li>
        <li><a href="{% url 'buscador' %}">Buscador</a></li>
    </ul>



{% endblock %}