<!-- html index-->
{% extends 'base_generic.html' %}

{% block content %}
    <h1>Bienvenido </h1>
    <p>Utiliza los siguientes endpoints para interactuar con la API:</p>
    <ul>
        <li><a href="/api/usuarios/">/api/usuarios/</a> - Listar y crear usuarios</li>
        <li><a href="/api/salas/">/api/salas/</a> - Listar y crear salas</li>
        <li><a href="/api/salas/ciudad/">/api/salas/ciudad/</a> - Buscar salas por ciudad</li>
        <li><a href="/api/grupos/">/api/grupos/</a> - Listar y crear grupos</li>
    </ul>
{% endblock %}